<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Resposta</title>
    <link rel="stylesheet" href="/lab9.css">
</head>
<body>
    <div class="mensagem">
        <h2><%= status %></h2>
        <a class="botao" href="/blog.ejs">Voltar ao Blog</a>
    </div>
</body>
</html>

